
.navbar {
  color:white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 2rem;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
   
   
  }
  
  /* Logo styling */
  .navbar-logo a {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    transition: color 0.3s ease;
    font-family:Georgia, 'Times New Roman', Times, serif
  }
  
  .navbar-logo a:hover {
    color: #2563eb;
  }
  
  /* Navbar toggle button */
  .navbar-toggle {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    transition: color 0.3s ease;
  }
  
  .navbar-toggle.active {
    color: #2563eb;
  }
  
  .navbar-links {
    display: flex;
    gap: 2rem;
    list-style: none;
    transition: transform 0.3s ease-out;
  }
  
  .navbar-links li {
    position: relative;
  }
  
  .navbar-links li a,
  .navbar-links li button {
    font-size: 1rem;
    font-weight: 500;
    color:white;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .navbar-links li a:hover,
  .navbar-links li button:hover {
    color: #3b82f6;
    transform: translateY(-3px);
  }
  
  .navbar-links li a:focus,
  .navbar-links li button:focus {
    outline: none;
  }
  
  /* Dropdown animation */
  .navbar-links.active {
    transform: translateY(0);
  }
  
  .navbar-open .navbar-links {
    transform: translateY(0);
  }
  
  /* Profile button */
  .profile-button, .logout-button {
    background: transparent;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: #333;
    transition: all 0.3s ease;
  }
  
  .profile-button:hover, .logout-button:hover {
    color: #3b82f6;
  }
  
  /* Mobile responsiveness */
  @media (max-width: 768px) {
    .navbar-toggle {
      display: block;
    }
  
    .navbar-links {
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color:black;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      transform: translateY(-100%);
      transition: transform 0.3s ease-out;
      z-index: -1;
     
    }
  
    .navbar-links.active {
      transform: translateY(0);
    }
  }
  