/* ProductPage.css */
.product-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #f4f4f4;
}

.product-page img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

.product-page h3 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
}

.product-page p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 0.5rem;
}

.product-page .price {
    font-size: 1.5rem;
    color: #e60023; /* Red color for price */
    margin-bottom: 1rem;
}

.product-page input[type="number"] {
    width: 50px;
    padding: 0.5rem;
    margin-right: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
}

.product-page button {
    background-color: #ff6347; /* Tomato color */
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.product-page button:hover {
    background-color: #e5533d; /* Darker tomato color */
}

/* Responsive design */
@media (max-width: 768px) {
    .product-page {
        padding: 1rem;
    }

    .product-page h3 {
        font-size: 1.5rem;
    }

    .product-page p {
        font-size: 0.875rem;
    }

    .product-page .price {
        font-size: 1.25rem;
    }
    .related-products{
        display: flex;
        flex-direction: column;
        gap: 30px;
        max-width: 100%;
    height: 400px;
        
    }
}

.related-products{
    display: flex;
    gap: 30px;
    max-width: 100%;
height: 400px;
    
}
.related-heading{
    color: rgba(255, 0, 0, 0.622)
}
.rel-name{
    color: red;
}